@import '../../styles.scss';

.new-line {
	display: none;
}

.faq {
	min-height: 668px;

	position: relative;
	display: flex;
	flex-direction: column;

	margin-top: 90px;

	z-index: 800;

	&__title {
		font-size: 36px;
		line-height: 124.5%;
		text-align: center;
		text-transform: uppercase;

		img {
			display: block;
			margin: 19px auto 0;
		}
	}

	&__base {
		width: 1140px;

		justify-self: center;

		margin-top: 49px;

		.col-4 {
			flex-shrink: 0;
		
			margin-left: 34px;
		}

		.col-8 {
			flex: 1;
		}
	}

	&__accordion {
		width: 716px;

		--bs-accordion-border-color: transparent;

		& .accordion-item {
			margin-bottom: 10px;

			border: none;

			background-color: transparent;

			& .accordion-header {
				& .accordion-button {
					padding: 21px 34px;

					position: relative;

					font-size: 18px;
					line-height: 124.5%;
					letter-spacing: 0;
					
					border-radius: 10px;
					border: 1px solid $border-color;
					
					background-color: transparent;
					color: $text-color;
					
					transition: background-color 0.3s, border-radius 0.3s;

					&:focus {
						outline: none;
						box-shadow: none;
					}

					&:hover {
						cursor: pointer;
					}

					&.collapsed {
						border-radius: 10px;
					
						background-color: $background-color;
					}

					&:not(.collapsed) {
						border: 1px solid $border-color;
						border-bottom: 0;
						border-radius: 10px 10px 0 0;
						
						color: $text-color-5;
						background-color: $WHITE;
					}

					&::after {
						background-image: none;

						position: absolute;
						right: 20px;
						top: 45%;
					}

					&:not(.collapsed)::after {
						content: url('/assets/icons/arrows/right-in.svg');
						
						transition: transform 0.3s ease;
						transform: rotate(-90deg);
					}

					&.collapsed::after {
						content: url('/assets/icons/arrows/right-out.svg');
						
						transform: rotate(0deg) translateY(-50%);
						transition: transform 0.3s ease;
					}
				}
			}

			.accordion-collapse {
				transition: all 0.3s ease;

				.accordion-body {
					margin-top: -1px;
					padding: 15px 34px 21px 34px;
					
					border: 1px solid $border-color;
					border-top: 0;
					border-radius: 0 0 10px 10px;
					
					color: $text-color-5;
					background-color: $WHITE;
				}
			}
		}
	}
}

.contact-form {
	width: 390px;

	padding: 38px 40px;

	border-radius: 20px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

	background-color: $background-color-2;

	&__title {
		margin-bottom: 8px;

		font-size: 24px;
		line-height: 126%;
		letter-spacing: 0;
	}

	&__description {
		font-size: 17px;
		line-height: 126%;
		letter-spacing: 0;
	}

	& form {
		margin-top: 23px;
	}

	&__group {
		width: 310px;

		margin-bottom: 14px;

		& input {
			width: 100%;
			height: 56px;

			padding: 19px 20px;
		}

		& textarea {
			padding: 19px 20px;

			width: 100%;
			height: 70px;

			resize: none;
		}

		& input::placeholder,
		& textarea::placeholder
		{
			font-weight: 400;
			font-size: 15px;
			line-height: 126%;
			letter-spacing: 0;

			color: $text-color-3;
		}
	}

	&__button {
        width: 310px;
        height: 68px;

        display: flex;
        align-items: center;
        justify-content: space-between;

		padding-left: 33px;

        border: 2px solid $button-color;
        border-radius: 90px;

        color: $text-color;
        background-color: $button-color;

        transition: all 0.3s ease;

        &:hover {
            color: $second-text-color;
            background-color: $button-hover-color;
        }

        & img {
            margin-right: 15px;
        }
    }
}

/* 1024-1439 */
@media screen and (max-width: 1439px) {
    .faq {
		&__base {
			width: 100%;

			justify-content: center;
		}

		&__accordion {
			width: 45%;
		}
	}

	.contact-form {
		height: 570px;
	}
}

/* 768-1023 */
@media screen and (max-width: 1023px) {
    .faq {
		&__base {	
			display: flex;
			flex-direction: column;
		}

		.col-4, .col-8 {
			width: 100%;

			margin-left: 0;
		}
	}

	.contact-form {
		align-self: center;

		width: 390px !important;

		margin-top: 15px;
	}
}

/* 425-767 */
@media screen and (max-width: 767px) {
    .faq {
		& .new-line {
			display: block;
		}
	}
}

/* 375-424 */
@media screen and (max-width: 424px) {
	.faq {
		&__title {
			font-size: 32px;
		}

		&__base {
			margin-left: -10px !important;
		}
	}

	.contact-form {
		margin-left: 0;
		width: 351px !important;

		&__group,
		&__button
		{
			width: 270px;
		}
	}
}

/* 320< */
@media screen and (max-width: 374px) {
	.contact-form {
		width: 300px !important;
		height: 600px;

		&__group,
		&__button
		{
			width: 220px;
		}
	}
}